.hobbies ul {
    padding-left: 2rem;
}

.hobbies li {
    text-align: justify;
    text-justify: inter-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hypens: auto;
}

.facts ul {
    padding-left: 2rem;
}

.facts li {
    text-align: justify;
    text-justify: inter-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hypens: auto;
}
