footer {
    width: 80%;
    max-width: 60rem;
    margin: 1em auto;
    padding: 1em auto;
}

.links  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em;
    padding: 0em;
}

.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.links ul li {
    margin-bottom: 0em;
}

.links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul li img {
    height: 1.5em;
    width: 1.5em;
    margin: 0em 0.5em;
    filter: brightness(86.7%); /* approximately #DDDDDD */
    transition: transform 0.25s ease-in-out;
}

.links ul li img:hover {
    transform: scale(1.2);
}

.links ul li:first-child img {
    margin-left: 0em;
}

.links ul li:last-child img {
    margin-right: 0em;
}
